<div class="navbar" style="background-color:lightblue; padding: 20px;">
    <a href="dashboard" class="btn" style="margin-right:5px;">Dashboard</a>
    <a href="payments" class="btn" style="margin-right:5px;">Pagos</a>
    <a href="clients" class="btn" style="margin-right:5px;">Clientes</a>
    <a href="profile" class="btn" style="margin-right:5px;">Mi Perfil</a>
    <span id="separator">____________________________</span>
    <span href="../" style="margin-right:5px;">Bienvenido [user]</span>
    <a href="../" class="btn" style="margin-right:5px;">Cerrar Sesión</a>
</div>