<div class="navbar" style="background-color:lightblue; padding: 20px;">
    <a href="dashboard" class="btn" style="margin-right:5px;">Dashboard</a>
    <a href="pagos" class="btn" style="margin-right:5px;">Pagos</a>
    <a href="clientes" class="btn" style="margin-right:5px;">Clientes</a>
    <a href="miperfil" class="btn" style="margin-right:5px;">Mi Perfil</a>
</div>