<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrestamistasRD | Clientes</title>
    <link href="/public/assets/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <br>
        <div class="content" style="padding-left:40px;">
            <h4><strong>Mis Clientes</strong></h4>
            <br>
            <div class="listado">
                <h4 style="text-align:center; width: 100%">No se han registrado clientes.</h4>
            </div>
        </div>
</body>

</html>