<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrestamistasRD</title>
    <link href="/public/assets/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <div class="top" style="padding-left:20px;">
            <br>
            <h3><strong>Mi Dashboard</strong></h3>
            <h5>Hola [usuario], bienvenido de nuevo </h5>
            <br>
        </div>

        <div class="content" style="padding-left:40px;">
            <h4><strong>Tu Resumen</strong></h4>
            <h5>Prestamos activos</h5>
            <br>
            <br>
            <div class="payments">
                <h4 style="text-align:center; width: 100%">No se han registrado préstamos.</h4>
            </div>
        </div>
</body>

</html>