<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PrestamistasRD | Mi Perfil</title>
    <link href="/public/assets/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <br>
        <div class="content" style="padding-left:40px;">
            <h4><strong>Mi Perfil</strong></h4>
            <br>
            <form action="/profile" method="POST" class="form">
                <label for="name">Nombre</label>
                <br>
                <input type="text" placeholder="Nombre" name="name" disabled>
                <br>

                <label for="nickname">Apellido</label>
                <br>
                <input type="text" placeholder="Apellido" name="nickname" disabled>
                <br>

                <label for="email">E-mail</label>
                <br>
                <input type="email" placeholder="E-mail" name="email" disabled>
                <br>

                <label for="password">Contrase単a</label>
                <br>
                <input type="password" placeholder="Contrase単a" name="password" disabled>
                <br>

                <label for="confirmPass">Vuelva a digitar la contrase単a</label>
                <br>
                <input type="password" placeholder="Contrase単a" name="confirmPass" disabled>
                <br>
                <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <input type="submit" value="Guardar Cambios" class="btn" disabled>
                </div>

            </form>
        </div>
</body>

</html>